 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        nav {
            .container {
                .navbar-brand {
                    width: 180px;
                    height: 70px;
                }
            }
        }
    }
    
}
@media only screen and (max-width: 768px) {
    header {
        nav {
            .container {
                .navbar-brand {
                    width: 180px;
                    height: 70px;
                }
            }
        }
    }
    .main {
        .hero-section {
            .text {
                margin-top: 15%;
                .hero-title, .hero-text {
                    text-align: center;
                }
                >div {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .truck {
        margin-top: 10%;
    }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
@media only screen and (max-width: 991px) {
    nav {
        ul {
            li {
                width: 100%;
                margin: 2% 0;
                .nav-link {
                    font-size: xx-large;
                }
            }
        }
        .account-item {
            margin: 2% 0;
            justify-content: center!important;
        }
    }
    .faq-background {
        width: 100%!important;
        margin-left: 0!important;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        border-radius: 70px 0 0 0 !important;
        img {
            width: 50%!important;
            margin: 0!important;
            opacity: 0.5;
        }
    }
    .faq {
        margin-top: 0% !important;
        text-align: center;
        .accordion {
            margin-top: 10%!important;
        }
    }
    .sections {
        .section {
            .section-image {
                img {
                    width: 100%!important;
                }
            }
            .title { 
                line-height: 40px!important;
            }
        }
    }
    .title-style-one {
        line-height: 40px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
@media only screen and (max-width: 1200px) {
    
}